* {
  margin: 0;
  padding: 0;
  font-family: "Mulish";
  font-style: normal;
}

body {
  width: 1440px;
  height: 2558;
  background: #F5F5F5;
  margin: auto;
}

header {
  padding-top: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header h1 {
  font: 700 60px "Mulish";
  color: #001A49;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header nav p:not(last-child) {
  margin-left: 35px;
}
header nav p {
  font: 700 16px "Mulish";
  color: #001A49;
}
header nav p:hover {
  text-decoration: underline;
}
header .btn-start {
  width: 147px;
  height: 50px;
  border-radius: 33px;
  background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
  padding: 12px 15px 0px 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 700 16px "Mulish";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.uni {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.uni .img {
  width: 590px;
  height: 360px;
  background-image: url(./img/Group\ 7.svg);
  margin-top: 283px;
  border-radius: 20px 0px 0px 20px;
}
.uni .zag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 160px;
  margin-top: 247px;
}
.uni .zag h1 {
  width: 590px;
  height: 360;
  color: #001A49;
  font: 700 60px "Mulish";
}
.uni .zag p {
  font: 400 20px "Mulish";
  width: 560px;
  height: 60;
  color: #4F596A;
}
.uni .btn-start-1 {
  width: 147px;
  height: 50px;
  border-radius: 33px;
  background: linear-gradient(44.11deg, #8FBBE5 15.75%, #3D75BF 84.63%);
  padding: 12px 15px 0px 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 700 16px "Mulish";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 270px;
}
.tab .img-araund {
  width: 288px;
  height: 288px;
  background-image: url(./img/Side\ Shape.svg);
}
.tab .img-araund {
  position: relative;
  left: 0px;
}
.tab .tabl {
  position: absolute;
  margin-left: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E7EAEB;
  width: 1120px;
  height: 172px;
  border: 1px solid #E7EAEB;
  border-radius: 21px;
  text-align: center;
}
.tab .tabl h2 {
  width: 150;
  height: 60;
  color: #001A49;
}
.tab .tabl p {
  width: 190px;
  height: 20px;
  font: 400 16px "Mulish";
  font-style: normal;
  color: #4F596A;
}

.zag-1 {
  margin-top: 100px;
}

.zag-1 h1 {
  width: 637px;
  height: 69px;
  font: 700 46px "Mulish";
  font-style: normal;
  color: #001A49;
  margin: auto;
}

.zag-1 p {
  width: 560px;
  height: 60px;
  font: 400 20px "Mulish";
  font-style: normal;
  color: #4F596A;
  margin: auto;
}

.tabl-1 {
  margin-top: 50px;
  margin-left: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E7EAEB;
  width: 1120px;
  height: 172px;
  border: 1px solid #E7EAEB;
  border-radius: 21px;
}

.img-smal {
  width: 64px;
  height: 64px;
  background-image: url(./img/Group\ 8.svg);
}

.tabl-1 h1 {
  width: 637px;
  height: 69px;
  font: 700 46px "Mulish";
  font-style: normal;
  color: #001A49;
  margin: auto;
}

.tabl-1 p {
  width: 900px;
  height: 48px;
  font: 400 16px "Mulish";
  font-style: normal;
  margin: auto;
  color: #4F596A;
}

.tabl-2 {
  margin-top: 50px;
  margin-left: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E7EAEB;
  width: 1120px;
  height: 172px;
  border: 1px solid #E7EAEB;
  border-radius: 21px;
}

.img-smal {
  width: 64px;
  height: 64px;
  background-image: url(./img/Group\ 8.svg);
}

.tabl-2 h1 {
  width: 637px;
  height: 69px;
  font: 700 46px "Mulish";
  font-style: normal;
  color: #001A49;
  margin: auto;
}

.tabl-2 p {
  width: 900px;
  height: 48px;
  font: 400 16px "Mulish";
  font-style: normal;
  margin: auto;
  color: #4F596A;
}

.tabl-3 {
  margin-top: 50px;
  margin-left: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E7EAEB;
  width: 1120px;
  height: 172px;
  border: 1px solid #E7EAEB;
  border-radius: 21px;
}

.img-smal {
  width: 64px;
  height: 64px;
  background-image: url(./img/Group\ 8.svg);
}

.tabl-3 h1 {
  width: 800px;
  height: 69px;
  font: 700 46px "Mulish";
  font-style: normal;
  color: #001A49;
  margin: auto;
}

.tabl-3 p {
  width: 900px;
  height: 48px;
  font: 400 16px "Mulish";
  font-style: normal;
  margin: auto;
  color: #4F596A;
}

.tabl-2 p {
  width: 900px;
  height: 48px;
  font: 400 16px "Mulish";
  font-style: normal;
  margin: auto;
  color: #4F596A;
}

.tabl-4 {
  margin-top: 50px;
  margin-left: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E7EAEB;
  width: 1120px;
  height: 172px;
  border: 1px solid #E7EAEB;
  border-radius: 21px;
  margin-bottom: 300px;
}

.img-smal {
  width: 64px;
  height: 64px;
  background-image: url(./img/Group\ 8.svg);
}

.tabl-4 h1 {
  width: 637px;
  height: 69px;
  font: 700 46px "Mulish";
  font-style: normal;
  color: #001A49;
  margin: auto;
}

.tabl-4 p {
  width: 900px;
  height: 48px;
  font: 400 16px "Mulish";
  font-style: normal;
  margin: auto;
  color: #4F596A;
}